/**
 * Created by Tobias Sandfort on 15.08.2017.
 */

/*EINSTELLUNGEN*/

.einstellungenButton
{
    -fx-background-color: aqua;
}

.einstellungenRadioButton
{
    -fx-background-color: aqua;
}

.einstellungenLabel
{
    -fx-background-color: aqua;
}

.einstellungenField
{
    -fx-background-color: aqua;
}

.einstellungenText
{
    -fx-background-color: aqua;
}

.einstellungenTab
{
    -fx-background-color: aqua;
}

/*EINSTELLUNGENCONTROLLER*/

/*KLASSEHINZUFUEGEN*/

.klassehinzuTab
{
    -fx-background-color: crimson;
}

.klassehinzuBox
{
    -fx-background-color: crimson;
}

.klassehinzuTableview
{
    -fx-background-color: crimson;
}

.klassehinzuWindow
{
    -fx-background-color: crimson;
}

.klassehinzuTablecolumn
{
    -fx-background-color: crimson;
}

.klassehinzuDropdown
{
    -fx-background-color: crimson;
}

.klassehinzuText
{
    -fx-background-color: crimson;
}

.klassehinzuRadioButton
{
    -fx-background-color: crimson;
}

.klassehinzuButton
{
    -fx-background-color: crimson;
}

.klassehinzuButton:focused
{
    -fx-background-color: yellow;
}

.klassehinzuLabel
{
    -fx-background-color: yellow;
}

.klassehinzuTable
{
    -fx-background-color: crimson;

}

/*KLASSEHINZUFUEGENCONTROLLER*/

/*KLASSEUEBERSICHT*/

.klasseuebersichtButton
{
   -fx-background-color: crimson;
}

.klasseuebersichtTab
{
    -fx-background-color: crimson;
}

.klasseuebersichtVBox
{
    -fx-background-color: crimson;
}

/*KLASSEUEBERSICHTCONTROLLER*/

/*MAIN*/

.mainButton
{
    -fx-background-color: crimson;
}

.mainTab
{
    -fx-background-color: crimson;
}

.mainBox
{
    -fx-background-color: crimson;
}

/*MAINCONTROLLER*/

/*NEUERVEREIN*/

/*NEUERVEREINCONTROLLER*/

/*NEUESTURNIER*/

/*NEUESTURNIERCONTROLLER*/

/*SPIELERGEBNISEINGEBEN*/

/*SPIELERGEBNISEINGEBENCONTROLLER*/

/*SPIELERHINZU*/

/*SPIELERHINZUCONTROLLER*/

/*SPIELERVORHANDEN*/

/*SPIELERVORHANDENCONTROLLER*/

/*SPIELSYSTEM*/

/*SPIELSYSTEMCONTROLLER*/

/*SPIELSYSTEM_NEU*/

/*SPIELSYSTEMCONTROLLER_NEU*/

/*STATISTIK*/

/*STATISTIKCONTROLLER*/

/*TEAMUEBERSICHT*/

/*TEAMUEBERSICHTCONTROLLER*/

/*TURNIERLADEN*/

/*TURNIERLADENCONTROLLER*/