/*EINSTELLUNGEN*/

.einstellungenButton
{
    -fx-background-color: aqua;
}

.einstellungenRadioButton
{
    -fx-background-color: aqua;
}

.einstellungenLabel
{
    -fx-background-color: aqua;
}

.einstellungenField
{
    -fx-background-color: aqua;
}

.einstellungenText
{
    -fx-background-color: aqua;
}

.einstellungenTab
{
    -fx-background-color: aqua;
}

/*EINSTELLUNGENCONTROLLER*/