/*KLASSEHINZUFUEGEN*/

.klassehinzuTab
{
    -fx-background-color: aqua;
}

.klassehinzuBox
{
    -fx-background-color: aqua;
}

.klassehinzuTableview
{
    -fx-background-color: aqua;
}

.klassehinzuWindow
{
    -fx-background-color: aqua;
}

.klassehinzuTablecolumn
{
    -fx-background-color: aqua;
}

.klassehinzuDropdown
{
    -fx-background-color: aqua;
}

.klassehinzuText
{
    -fx-background-color: aqua;
}

.klassehinzuRadioButton
{
    -fx-background-color: aqua;
}

.klassehinzuButton
{
    -fx-background-color: aqua;
}

.klassehinzuButton:hover
{
    -fx-background-color: aqua;
}


.klassehinzuButton:focused
{
    -fx-background-color: aqua;
}

.klassehinzuLabel
{
    -fx-background-color: aqua;
}

.klassehinzuTable
{
    -fx-background-color: aqua;
}

/*KLASSEHINZUFUEGENCONTROLLER*/