/*KLASSEUEBERSICHT*/

.klasseuebersichtButton
{
    -fx-background-color: aqua;
}

.klasseuebersichtTab
{
    -fx-background-color: aqua;
}

.klasseuebersichtVBox
{
    -fx-background-color: aqua;
}

/*KLASSEUEBERSICHTCONTROLLER*/

