/*MAIN*/

.mainButton
{
    -fx-background-color: aqua;
}

.mainButtonBar
{
    -fx-background-color: green;
    -fx-border-color: purple;
    
}

.mainTab
{
    -fx-background-color: aqua;
}

.mainBox
{
    -fx-background-color: aqua;
}
.mainItem
{
    -fx-background-color: aqua;
}

.mainLabel
{
    -fx-background-color: aqua;
}

.mainMenuBar
{
    -fx-background-color: aqua;
    -fx-border-color: crimson;
}

/*MAINCONTROLLER*/