/*NEUERVEREIN*/

.neuerVereinButton
{
    -fx-background-color: aqua;
}

.neuerVereinLabel
{
    -fx-background-color: aqua;
}

.neuerVereinTextField
{
    -fx-background-color: aqua;
}

.neuerVereinPane
{
    -fx-background-color: aqua;
}

/*NEUERVEREINCONTROLLER*/