/*NEUESTURNIER*/

.neuesTurnierButton
{
    -fx-background-color: aqua;
}

.neuesTurnierLabel
{
    -fx-background-color: aqua;
}

.neuesTurnierTextField
{
    -fx-background-color: aqua;
}

.neuesTurnierPane
{
    -fx-background-color: aqua;
}

.neuesTurnierBox
{
    -fx-background-color: aqua;
}

/*NEUESTURNIERCONTROLLER*/