/*SPIELERGEBNISEINGEBEN*/

.spielergebnisEingebenPane
{
    -fx-background-color: aqua;
}

.spielergebnisEingebenButton
{
    -fx-background-color: aqua;
}

.spielergebnisEingebenLabel
{
    -fx-background-color: aqua;
}

.spielergebnisEingebenText
{
    -fx-background-color: aqua;
}

.spielergebnisEingebenTextField
{
    -fx-background-color: aqua;
}

.spielergebnisEingebenBox
{
    -fx-background-color: aqua;
}

/*SPIELERGEBNISEINGEBENCONTROLLER*/