/*SPIELERHINZU*/

.spielerHinzuPane
{
    -fx-background-color: aqua;
}

.spielerHinzuButton
{
    -fx-background-color: aqua;
}

.spielerHinzuLabel
{
    -fx-background-color: aqua;
}

.spielerHinzuText
{
    -fx-background-color: aqua;
}

.spielerHinzuTextField
{
    -fx-background-color: aqua;
}

.spielerHinzuBox
{
    -fx-background-color: aqua;
}

.spielerHinzuRadioButton
{
    -fx-background-color: aqua;
}

.spielerHinzuChoiceBox
{
    -fx-background-color: aqua;
}

.spielerHinzuDatePicker
{
    -fx-background-color: aqua;
}

.spielerHinzuTab
{
    -fx-background-color: aqua;
}

.spielerHinzuTableView
{
    -fx-background-color: aqua;
}

.spielerHinzuTableColumn
{
    -fx-background-color: aqua;
}

/*SPIELERHINZUCONTROLLER*/