/*SPIELSYSTEM*/

.spielSystemPane
{
    -fx-background-color: aqua;
}

.spielSystemButton
{
    -fx-background-color: aqua;
}

.spielSystemLabel
{
    -fx-background-color: aqua;
}

.spielSystemBox
{
    -fx-background-color: aqua;
}

.spielSystemTableView
{
    -fx-background-color: aqua;
}

.spielSystemTableColumn
{
    -fx-background-color: aqua;
}

.spielSystemTab
{
    -fx-background-color: aqua;
}

.spielSystemText
{
    -fx-background-color: aqua;
}

.spielSystemTextField
{
    -fx-background-color: aqua;
}

.spielSystemRadioButton
{
    -fx-background-color: aqua;
}

/*SPIELSYSTEMCONTROLLER*/