/*SPIELERVORHANDEN*/

.spielerVorhandenPane
{
    -fx-background-color: aqua;
}

.spielerVorhandenButton
{
    -fx-background-color: aqua;
}

.spielerVorhandenLabel
{
    -fx-background-color: aqua;
}

.spielerVorhandenBox
{
    -fx-background-color: aqua;
}

.spielerVorhandenTableView
{
    -fx-background-color: aqua;
}

.spielerVorhandenTableColumn
{
    -fx-background-color: aqua;
}

/*SPIELERVORHANDENCONTROLLER*/